@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.nextui-user-info {
  cursor: pointer;
  margin-left: 0 !important;
  margin-right: 0.5rem;
}

.nextui-backdrop-wrapper-enter {
  z-index: 9998 !important;
}

.nextui-table-cell {
  white-space: normal !important;
  min-width: 12rem;
}

.heading-text {
  font-size: 2.4rem;
  margin-bottom: 0.8rem !important;
}

.context-menu {
  display: flex !important;
  position: sticky;
  top: 0;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
  transform: translate(0, -1px);
  z-index: 999;
}

.context-option {
  position: relative;
  padding: 0.76rem 1rem 0.75rem 1rem;
  font-weight: 500;
  font-size: 0.9rem;
}

.question-title-input>label::after {
  background-color: transparent !important;
}

.option-selected::before {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  left: 9px;
  right: 9px;
  bottom: 0px;
  border-bottom: 2px solid;
}

.inline-name-wrapper {
  display: inline-flex;
  flex-direction: column;
  white-space: nowrap;
}

.justify-between {
  display: flex;
  justify-content: space-between !important;
}

.max-w-full {
  max-width: 100% !important;
}

.invert {
  filter: invert(1);
}

/* width */
.selection::-webkit-scrollbar {
  display: none;
}